In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split

In [2]:
data = pd.read_csv("iris.csv")
data.head()

   Unnamed: 0  Sepal.Length  Sepal.Width  Petal.Length  Petal.Width Species
0           1           5.1          3.5           1.4          0.2  setosa
1           2           4.9          3.0           1.4          0.2  setosa
2           3           4.7          3.2           1.3          0.2  setosa
3           4           4.6          3.1           1.5          0.2  setosa
4           5           5.0          3.6           1.4          0.2  setosa

In [3]:
data.shape

(150, 6)

In [4]:
data.columns

Index(['Unnamed: 0', 'Sepal.Length', 'Sepal.Width', 'Petal.Length',
       'Petal.Width', 'Species'],
      dtype='object')

In [5]:
iris = data.copy()
iris.head()

   Unnamed: 0  Sepal.Length  Sepal.Width  Petal.Length  Petal.Width Species
0           1           5.1          3.5           1.4          0.2  setosa
1           2           4.9          3.0           1.4          0.2  setosa
2           3           4.7          3.2           1.3          0.2  setosa
3           4           4.6          3.1           1.5          0.2  setosa
4           5           5.0          3.6           1.4          0.2  setosa

In [6]:
iris = iris.dropna().drop('Unnamed: 0', axis = 1)

In [7]:
iris.head()

   Sepal.Length  Sepal.Width  Petal.Length  Petal.Width Species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [8]:
y = iris.Species
x = iris[["Sepal.Length", "Sepal.Width", "Petal.Length", "Petal.Width"]]

In [9]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.5, random_state = 123, stratify = y)

In [10]:
y_predict=y_test.copy()
y_predict=y_predict.reset_index()

In [11]:
def euclidean(a,b):
    distance = np.sqrt(np.sum((np.array(a)-np.array(b))**2))   
    return(distance)

## KNN

In [12]:
def knn(x_train,x_test,y_train):
    minm=[]
    for i in range(0,x_test.shape[0]):
        dist=[]
        a=x_test.iloc[i:i+1]
        for j in range(0,x_train.shape[0]):
            b=x_train[j:j+1]
            dist.append(euclidean(a,b))
        minm.append(dist.index(min(dist)))
    y_pred=[]
    for i in minm:
        y_pred.append(y_train[y_train.index[i]])
    y_predict["k_1"]=y_pred
    return(y_predict)

In [13]:
knn(x_train,x_test,y_train)

    index     Species         k_1
0      14      setosa      setosa
1     104   virginica   virginica
2      75  versicolor  versicolor
3       3      setosa      setosa
4     120   virginica   virginica
5      39      setosa      setosa
6      67  versicolor  versicolor
7     116   virginica   virginica
8      37      setosa      setosa
9      16      setosa      setosa
10    105   virginica   virginica
11     74  versicolor  versicolor
12    143   virginica   virginica
13      9      setosa      setosa
14     62  versicolor  versicolor
15    146   virginica   virginica
16    117   virginica   virginica
17    110   virginica   virginica
18    101   virginica   virginica
19    138   virginica   virginica
20     56  versicolor  versicolor
21    115   virginica   virginica
22     92  versicolor  versicolor
23     65  versicolor  versicolor
24    125   virginica   virginica
25    127   virginica   virginica
26     36      setosa      setosa
27     17      setosa      setosa
28     64  versicolor  versicolor
29     23      setosa      setosa
..    ...         ...         ...
45    135   virginica   virginica
46     44      setosa      setosa
47     84  versicolor  versicolor
48     68  versicolor  versicolor
49     77  versicolor  versicolor
50     38      setosa      setosa
51    133   virginica  versicolor
52    119   virginica  versicolor
53    129   virginica   virginica
54     72  versicolor   virginica
55     33      setosa      setosa
56     45      setosa      setosa
57     86  versicolor  versicolor
58     63  versicolor  versicolor
59     22      setosa      setosa
60    106   virginica  versicolor
61     97  versicolor  versicolor
62      2      setosa      setosa
63    122   virginica   virginica
64     32      setosa      setosa
65    100   virginica   virginica
66     93  versicolor  versicolor
67     61  versicolor  versicolor
68    112   virginica   virginica
69     34      setosa      setosa
70    144   virginica   virginica
71     76  versicolor  versicolor
72     43      setosa      setosa
73      4      setosa      setosa
74     91  versicolor  versicolor

[75 rows x 3 columns]

## KNN Classifier

In [14]:
def knnclassifier(x_train,x_test,y_train, k):
    from scipy import stats
    minm=[]
    for i in range(0,x_test.shape[0]):
        dist=[]
        a=x_test.iloc[i:i+1]
        for j in range(0,x_train.shape[0]):
            b=x_train[j:j+1]
            dist.append([euclidean(a,b),j]) # calculating Euclidean distance and storing along with index
        dist.sort() # sorting distance
        minm.append(dist[:k]) # taking first k minimum distance 
    y_pred=[]
    for i in range(0,x_train.shape[0]):
        for j in range(0,k):
            pred="" # creating empty string to store predicted value k times
            pred=pred+y_train[y_train.index[minm[i][j][1]]]
        y_pred.append(stats.mode(pred)) # taking mode of k predicted value
    y_predict["Predicted"]=y_pred#creating new column and storing output value 
    
    return(y_predict)

In [16]:
knnclassifier(x_train,x_test,y_train,int(input("Enter the value of k: ")))

Enter the value of k: 20

    index     Species         k_1            Predicted
0      14      setosa      setosa      ([setosa], [1])
1     104   virginica   virginica   ([virginica], [1])
2      75  versicolor  versicolor   ([virginica], [1])
3       3      setosa      setosa      ([setosa], [1])
4     120   virginica   virginica   ([virginica], [1])
5      39      setosa      setosa      ([setosa], [1])
6      67  versicolor  versicolor  ([versicolor], [1])
7     116   virginica   virginica  ([versicolor], [1])
8      37      setosa      setosa      ([setosa], [1])
9      16      setosa      setosa      ([setosa], [1])
10    105   virginica   virginica   ([virginica], [1])
11     74  versicolor  versicolor  ([versicolor], [1])
12    143   virginica   virginica   ([virginica], [1])
13      9      setosa      setosa      ([setosa], [1])
14     62  versicolor  versicolor  ([versicolor], [1])
15    146   virginica   virginica  ([versicolor], [1])
16    117   virginica   virginica  ([versicolor], [1])
17    110   virginica   virginica  ([versicolor], [1])
18    101   virginica   virginica  ([versicolor], [1])
19    138   virginica   virginica   ([virginica], [1])
20     56  versicolor  versicolor   ([virginica], [1])
21    115   virginica   virginica   ([virginica], [1])
22     92  versicolor  versicolor  ([versicolor], [1])
23     65  versicolor  versicolor   ([virginica], [1])
24    125   virginica   virginica  ([versicolor], [1])
25    127   virginica   virginica   ([virginica], [1])
26     36      setosa      setosa      ([setosa], [1])
27     17      setosa      setosa      ([setosa], [1])
28     64  versicolor  versicolor  ([versicolor], [1])
29     23      setosa      setosa      ([setosa], [1])
..    ...         ...         ...                  ...
45    135   virginica   virginica  ([versicolor], [1])
46     44      setosa      setosa      ([setosa], [1])
47     84  versicolor  versicolor   ([virginica], [1])
48     68  versicolor  versicolor   ([virginica], [1])
49     77  versicolor  versicolor  ([versicolor], [1])
50     38      setosa      setosa      ([setosa], [1])
51    133   virginica  versicolor   ([virginica], [1])
52    119   virginica  versicolor   ([virginica], [1])
53    129   virginica   virginica   ([virginica], [1])
54     72  versicolor   virginica  ([versicolor], [1])
55     33      setosa      setosa      ([setosa], [1])
56     45      setosa      setosa      ([setosa], [1])
57     86  versicolor  versicolor   ([virginica], [1])
58     63  versicolor  versicolor  ([versicolor], [1])
59     22      setosa      setosa      ([setosa], [1])
60    106   virginica  versicolor  ([versicolor], [1])
61     97  versicolor  versicolor  ([versicolor], [1])
62      2      setosa      setosa      ([setosa], [1])
63    122   virginica   virginica   ([virginica], [1])
64     32      setosa      setosa      ([setosa], [1])
65    100   virginica   virginica   ([virginica], [1])
66     93  versicolor  versicolor      ([setosa], [1])
67     61  versicolor  versicolor   ([virginica], [1])
68    112   virginica   virginica   ([virginica], [1])
69     34      setosa      setosa      ([setosa], [1])
70    144   virginica   virginica  ([versicolor], [1])
71     76  versicolor  versicolor  ([versicolor], [1])
72     43      setosa      setosa      ([setosa], [1])
73      4      setosa      setosa      ([setosa], [1])
74     91  versicolor  versicolor   ([virginica], [1])

[75 rows x 4 columns]